<div>
    <a href="#produtos">Produtos</a><br />
    <a href="#produtos/about">Produtos About</a><br />
    <a href="#produtos/get/1">Produtos get 1</a><br />
    <a href="#produtos/getMult/1/2">Produtos get 1 2</a><br />
    <a href="#produtos/buscaProduto/1">Busca produto 1</a>
    <div id="conteudo">
    </div>
</div>